@font-face {
  font-family: "iconfont"; /* Project id 4968855 */
  src: url('iconfont.woff2?t=1751957109085') format('woff2'),
       url('iconfont.woff?t=1751957109085') format('woff'),
       url('iconfont.ttf?t=1751957109085') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shuiguo:before {
  content: "\e631";
}

.icon-qinyou:before {
  content: "\e61d";
}

.icon-bangong:before {
  content: "\e624";
}

.icon-riyongbaihuo:before {
  content: "\e604";
}

.icon-changbei:before {
  content: "\e654";
}

.icon-shezhi:before {
  content: "\e605";
}

.icon-baobei:before {
  content: "\e600";
}

.icon-caipiao:before {
  content: "\e613";
}

.icon-feiji:before {
  content: "\e655";
}

.icon-icon:before {
  content: "\e65d";
}

.icon-weibiaoti2fuzhi03:before {
  content: "\e611";
}

.icon-weibiaoti2fuzhi13:before {
  content: "\e61b";
}

.icon-jiaotong:before {
  content: "\e61e";
}

.icon-lingshi:before {
  content: "\e625";
}

.icon-tongxun:before {
  content: "\e632";
}

.icon-weixiu:before {
  content: "\e633";
}

.icon-yule:before {
  content: "\e639";
}

.icon-zhufang:before {
  content: "\e63b";
}

.icon-qihang-copy:before {
  content: "\e69b";
}

.icon-gouwu:before {
  content: "\e899";
}

.icon-canyin:before {
  content: "\e8a4";
}

.icon-juanzeng:before {
  content: "\e634";
}

.icon-xuexi:before {
  content: "\e763";
}

.icon-shengjilijin:before {
  content: "\e651";
}

.icon-shuji:before {
  content: "\e606";
}

.icon-xiedaichongwu:before {
  content: "\e90d";
}

.icon-meirongyi:before {
  content: "\e657";
}

.icon-huluobushucaiqu:before {
  content: "\e713";
}

.icon-chongwufushi:before {
  content: "\e60d";
}

.icon-yanjiu:before {
  content: "\e60f";
}

.icon-haizi:before {
  content: "\e84e";
}

.icon-yiliao:before {
  content: "\e646";
}

.icon-kuaidi:before {
  content: "\e696";
}

.icon-13:before {
  content: "\e615";
}

